@import "tailwindcss";

@theme{


      --animate-surge: surge 1s ease-in-out;
    @keyframes surge {
        0%{
            opacity:0%;
            transform: translateY(-250px);
        },
        100% {
            transform: translateY(100px);
            opacity:100%;
        }
    }

      --animate-disappear: disappear 1s ease-in-out forwards;
   @keyframes disappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-250px);
    }
}

    --animate-glow:glow 1.5s ease-in-out infinite alternate;

    @keyframes glow{
        from{
            box-shadow: rgba(18, 205, 80, 0) 0px 3px 0px;
        }
        to{
            box-shadow: rgba(18, 205, 80, 0.50) 0px 6px 10px;
        }
    }


    --animate-mini-glow:glow 3s ease-in-out infinite alternate;

    @keyframes glow{
        from{
            filter:drop-shadow( rgba(18, 205, 80, 0) 0px 3px 0px);
        }
        to{
            filter:drop-shadow(rgba(18, 205, 80, 0.50) 0px 3px 5px);
        }
    }

    --color-bg-default:#000405;
    --color-bg-panel:#040a0b;
    --color-bg-card:#030c0b;
    --color-text-primary:#12cd5b;
    --color-text-secundary:#0e1c16;
}

html{
    @apply scroll-smooth
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: #050505;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      #00ff88,
      #00bfff
    );
    border-radius: 999px;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: #00ff88 #050505;
  }
}


body {
	@apply bg-bg-default text-white
}

* {
	@apply 
    box-border 
    transition-all;
}

button {
	@apply cursor-pointer ;
}

a {
	@apply decoration-0;
}

.desktop-menu-items {
	@apply
    hover:text-text-primary hover:scale-105
    active:text-text-primary active:scale-105
    cursor-pointer
}
.section-anchor{
    @apply
    scroll-mt-16
}
.mobile-menu-items {
	@apply
    transition-all 
    active:scale-105 hover:text-text-primary
    hover:scale-105 active:text-text-primary
}

.button-normal {
	@apply 
    font-semibold
    border-none 
    rounded-md 
    bg-text-primary
    py-2 px-3 
    text-bg-default
    hover:bg-text-primary/50    hover:text-white hover:scale-105
    active:bg-text-primary/50   active:text-white active:scale-105
}
.button-outline {
	@apply 
    py-2 px-3
    font-semibold
    border
    border-text-primary
    rounded-md 
    text-white
    hover:bg-text-primary/50 hover:border-none hover:text-bg-default hover:scale-105
    active:bg-text-primary/50 active:border-none active:text-bg-default active:scale-105
    ;
}

.hero-icons-contact {
	@apply
    hover:text-text-primary
    hover:scale-125
    active:text-text-primary
    active:scale-125
    cursor-pointer
}

.text-truncate{
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

@keyframes backgroundFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.background-grid {
  position: relative;
}

.background-grid-overlay {
  position: absolute;
  inset: 0;

  background-image:
    radial-gradient(
      circle at top left,
      rgba(0, 255, 150, 0.08),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 150, 255, 0.08),
      transparent 30%
    ),
    linear-gradient(
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    );

  background-size:
    auto,
    auto,
    40px 40px,
    40px 40px;

  opacity: 0;
  animation: backgroundFade 1.5s ease-out forwards;
}