@import "tailwindcss";

@theme{
      --animate-surge: surge 1s ease-in-out;
    @keyframes surge {
        0%{
            opacity:0%;
            transform: translateY(-250px);
        },
        100% {
            transform: translateY(100px);
            opacity:100%;
        }
    }
      --animate-disappear: disappear 1s ease-in-out forwards;
   @keyframes disappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-250px);
    }
}
    --color-bg-default:#000405;
    --color-bg-panel:#040a0b;
    --color-bg-card:#030c0b;
    --color-text-primary:#12cd5b;
    --color-text-secundary:#0e1c16;
    
    /* --color-text-primary:#572f96; */
    --color-bg-indigo:#3761da;
    --color-bg-indigo-variant:#345fe9;
    --color-bg-tecnologies-section:#f8f8fa

    


}

body{
    @apply bg-bg-default
}

*{
    @apply 
    box-border 
    transition-all;
}

button{
    @apply cursor-pointer ;
}

a{
    @apply decoration-0;
}

.desktop-menu-items{
    @apply
    hover:text-text-primary
    active:text-text-primary
    cursor-pointer
}

.mobile-menu-items{
    @apply
    transition-all 
    active:translate-x-4 hover:text-text-primary
    hover:translate-x-4 active:text-text-primary
}

.button-normal{
    @apply 
    font-semibold
    border-none 
    rounded-md 
    bg-text-primary
    py-[0.5rem] px-3 
    text-bg-default
    hover:bg-text-primary/50    hover:text-white
    active:bg-text-primary/50   active:text-white
}
.button-outline{
    @apply 
    py-2 px-3
    font-semibold
    border
    border-text-primary
    rounded-md 
    text-white
    hover:bg-text-primary/50 hover:border-text-primary/50 hover:text-bg-default
    active:bg-text-primary/50 active:border-text-primary/50 active:text-bg-default
    ;
}

.hero-icons-contact{
    @apply
    hover:text-text-primary
    hover:scale-125
    active:text-text-primary
    active:scale-125
    cursor-pointer
}